<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Alurapic</h1>
    </div>

    <div ng-show="flashMsg.sucesso.length" class="alert alert-success" role="alert">{{ flashMsg.sucesso }}</div>
    <div ng-show="flashMsg.erro.length" class="alert alert-danger" role="alert">{{ flashMsg.erro }}</div>
    
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href="/foto/new" class="btn btn-primary" type="button">
                            Nova foto
                        </a>
                    </span>
                    <input class="form-control" placeholder="filtrar pelo título da foto" ng-model="filtro" ng-model-options="{ debounce: 500 }">
                </div>
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <div class="row">
        <meu-painel class="col-md-2 painel-animado" titulo="{{ foto.titulo }}" ng-repeat="foto in fotos | filter: {titulo: filtro}">
            <div class="panel-body">
                <minha-foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></minha-foto>
                <a class="btn btn-primary btn-block" href="/fotos/edit/{{ foto._id }}">
                    Editar
                </a>
                <btn-remover nome="Remover" acao="remover(foto)"></btn-remover>
            </div><!-- fim panel-body -->
        </meu-painel>
    </div>
</div><!-- fim container -->        
